.order-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.order-image{
    width: 50%;
}
.order-image img {
    width: 400px;
    border-radius: 8px;
    height: 469px;
}

.order-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order-form h2{
    text-align: center;
    margin-bottom: 46px;
    color: gray;
}
.order-form select,.order-form input{
    width: 50%;
    border-radius: 15px !important;
    /* padding: 8px; */
    padding-left: 10px 0 10px;
    /* padding: 0 26px; */
    margin-right: 24pxx;
    position: relative;
    left: 18px;
}
.order-form input{
    padding: 5px;
    padding-left: 11px;
    outline: none;
}
.order-form h2 {
    margin-bottom: 20px;
}
.order-form strong{
    color: var(--primary);
    font-size: 25px;
    font-family: cursive;
}
.order-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-form label:not(.order-form label select){
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 23px;
}

.order-form select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.item-details {
    margin-top: 10px;
}

button[type="submit"] {
    padding: 10px 15px;
    margin-top: 15px;
    background-color: gray;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 13px;
    letter-spacing: 1.1px;
    cursor: pointer;
    width: 200px;

}

button[type="submit"]:hover {
    background-color: rgb(168, 164, 164);
}
.item-details{
    text-align: left;
}
.order-form form p:not(p strong){
    color: gray;
}
@media (max-width:992px) {
    .order-image{
        width: 100%;
    }
    .order-container {
        flex-direction: column;
    }
  
}
/* Responsive Design */
@media (max-width: 768px) {
    .order-container {
        flex-direction: column;
        align-items: center;
    }

    .order-image img {
        max-width: 100%;
    }

    .order-form {
        width: 100%;
    }
    
}
