
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 30px;
}

.login-image {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.login-form {
  flex-basis: 50%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.login-form h2 {
  text-align: center;
  font-family: cursive;
  margin-bottom: 20px;
  font-size: 30px;
  background: linear-gradient(90deg, #c2b675, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.form-group input {
  width: 80%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  background-color: rgb(215 215 215 / 28%);
  outline: none;
}

.login-btn {
  width: 50%;
  background: linear-gradient(90deg, #c2b675, gold);
  color: #fff;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.login-btn:hover {
  transform: translateX(-10px);
}

.social-icons svg {
  margin-right: 20px;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
}

.social-icons svg:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, #c2b675, gold) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.using {
  font-family: cursive;
  color: gray;
}

.create-account {
  color: gray;
}

.login-btn {
  background: linear-gradient(90deg, #c2b675, gold);
  color: #fff;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.register {
  margin-left: 10px;
  color: black;
  font-weight: bold;
}
.social-icons{
  position: relative;
}
.social-login .social-icons::before{
  content: "";
  position: absolute;
  background-color: #808080a6;
  width: 48%;
  height: 3px;
  top: -44px;
}
@media (max-width: 992px) {
  .login-container {
    flex-direction: column;
    gap: 20px;
  }

  .login-form,
  .login-image {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
  }

  .login-image img {
    width: 300px;
    height: 300px;
  }

  .form-group input {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .form-group input {
    width: 100%;
  }

  .login-image img {
    width: 250px;
    height: 250px;
  }
}
